﻿
@{
    ViewBag.Title = "SelectRoom";
}

<h2>Please enter your search criteria</h2>

<form name="roomform" id="roomform" method="post" action="Search">
    <table>
        <tr>
            <td>Start</td>
            <td>
                <input type="date" name="start_date" required/>
                <select name="start_hour">
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                </select>
                :
                <select name="start_minute" required>
                    <option value="0">00</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
                @*Duration (hr): <input type="number" name="duration" /><br />*@

                
            </td>
            <td>Duration</td>
            <td>
                <select name="duration" required>
                    <option value="30">0.5 hours</option>
                    <option value="60">1.0 hours</option>
                    <option value="90">1.5 hours</option>
                    <option value="120">2.0 hours</option>
                    <option value="150">2.5 hours</option>
                    <option value="180">3.0 hours</option>
                </select><br />
            </td>
        </tr>
        <tr>
        <td>Capacity</td>
        <td>
            <input type="number" name="capacity" required/><br />
        </td>
        <td></td>
        <td></td>
        </tr>
        <tr>
            <td>Do you require a projector?</td>
            <td>
                <input type="radio" name="projector" value="true" />Yes<input type="radio" name="projector" value="false" checked />No<br />
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Do you require video conferencing equipment?</td>
            <td>
                <input type="radio" name="vc" value="true" />Yes<input type="radio" name="vc" value="false" checked />No<br />
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>
    @*Start: <input type="text" name="start" /><br />*@
    @*Start: <input type="text" name="start" /><br />*@
    @*Start: 
    
    Capacity: <input type="number" name="capacity" /><br />*@
    @*Projector: <input type="checkbox" name="projector" /><br />*@
    @*Projector: <input type="radio" name="projector" value="true" />Yes<input type="radio" name="projector" value="false" checked />No<br />
    
    VC Equipment: <input type="radio" name="vc" value="true" />Yes<input type="radio" name="vc" value="false" checked />No<br />*@
    <input type="submit" value="submit" />
</form>

